<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>About</h1>
                    <img class="about" src="img/AboutImage.JPG" alt="">
                    <div class="lead">
                        <p>The best time to plant a tree is twenty years ago. The next best time is today.</p>
                    </div>
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="boxes-1">
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>
            <section class="boxes-2">
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>

            <% include partials/footer %>