<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>About</h1>
                    <div class="lead">
                        <p>The best time to plant a tree is twenty years ago. The next best time is today.</p>
                    </div>
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="about">
                <div class="box">

                    <p>Since changing careers almost a decade ago, Todd has developed a diverse skillset in building solutions in Microsoft Excel. Whether optimizing an existing file through custom formatting, creating complex formulas, streamlining data
                        entry through developing custom userforms, or automating manual processes by leveraging his VBA expertise, Todd has created countless solutions for a wide variety of business challenges.
                    </p>
                    <br>
                    <p>Since leaving a clinical support role of 16 years in 2009, Todd has created a robust tool belt of business and technical expertise. Leveraging his experience in healthcare supply chain, contracting, and patient satisfaction, Todd has
                        launched a part-time venture serving other businesses and individuals by providing solutions for their system process challenges.Since leaving a clinical support role of 16 years in 2009, Todd has created a robust tool belt of
                        business and technical expertise. Leveraging his experience in healthcare supply chain, contracting, and patient satisfaction, Todd has launched a part-time venture serving other businesses and individuals by providing solutions
                        for their system process challenges.
                    </p>
                    <br>
                    <p>And after spending most of 2016 and 2017 ghost writing articles for varioius Microsoft Excel blog sites,Todd launched his own site, TheAccidentalExcelist.com. This serves as an opportunity to pass on his knowledge and expertise to
                        those who might find themselves in the same position he was in 2009.
                    </p>
                    <br>
                    <p>More recently, Todd has turned his sights on creating web based business solutions. Finding that web app solutions are often a better long term solution to many of his clients' Excel based challenges, he continues to develop a well-rounded
                        skillset in full-stack web development technologies.
                    </p>
                    <br>
                    <p>With the launch of TruSponse Solutions, Todd brings custom, full-stack web development solutions to market. Look for TruSponse Solutions in late 2018 and connect with Todd on LinkedIn to find out more.
                    </p>

                </div>
            </section>
            <section class="contact">
                <div class="box">
                    <h3>Contact Todd</h3>
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>

            <% include partials/footer %>