<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>About</h1>
                    <div class="lead">
                        <p>The best time to plant a tree is twenty years ago. The next best time is today.</p>
                    </div>
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="about">
                <div class="box">

                    <p>When I don't have a guitar strapped over my shoulder, I spend alot of time developing solutions. Whether by automating in Excel with VBA, innovating in Access with forms, or pulling out all the stops with a full-featured web app, I
                        am always seeking elegant ways to mitigate the challenges that face a business or project.
                    </p>
                    <br>
                    <p>But let's back up a bit. My passion for development is more of a recent discovery. I don't have a computer science degree. I haven't been programming since I was young.
                    </p>
                    <br>
                    <p>My fascination with using code to make my life better started as recently as 2010. I was about a year out from a major career change working for a healthcare group purchasing organization. As I was learning how to use Microsoft Excel
                        in my role at the time, I discovered a couple of cool things like external data connections and the macro recorder.
                    </p>
                    <br>
                    <p>As I was sharing these little discoveries with a friend I had made while working at this company, he said something very simple yet profound. He said, "It's now what you don't know, it's what you don't know that you don't know." That
                        statement made me think long and hard about my personal development. Especially when it came to developing technical expertise.
                    </p>

                </div>
            </section>
            <section class="contact">
                <div class="box">
                    <h3>Contact Todd</h3>
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>

            <% include partials/footer %>