<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>Microsoft Access</h1>
                    <ul class="excel">
                        <li><i class="fab fa-windows fa-4x"></i></li>
                        <li><i class="fas fa-database fa-4x"></i></li>
                    </ul>
                    <div class="lead">
                        <p>Tables. Queries. Forms. Reports. VBA & Macros.</p>
                    </div>
                </header>
            </section>



            <!-- Boxes Section -->
            <section class="boxes-1">
                <div class="box">
                    <h3>Order Intake Management</h3>
                    <img src="img/WPI Main.jpg" alt="">
                    <p>Full database management system for a precison instrument company to manage their order intake process.</p>
                </div>
                <div class="box">
                    <h3>Customer Database</h3>
                    <img src="img/Customer Database.jpg" alt="">
                    <p>Customer database management system with forms to optimize user experience.</p>
                </div>
            </section>


            <% include partials/footer %>