<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>Microsoft Excel</h1>
                    <ul>
                        <li><i class="fab fa-file-excel fa-4x"></i></li>
                        <li><i class="fab fa-windows fa-4x"></i></li>
                    </ul>
                    <div class="lead">
                        <p>From formulas, pivot tables, and charts to dashboards, userforms, and macros.</p>
                    </div>
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="boxes-1">
                <div class="box">
                    <h3>Finance Dashboard</h3>
                    <img src="img/DASH BIG IMAGE.jpg" alt="">
                    <p>Simple finance dashboard with overlapped column charts with data tables, meter chart for LTV, and waterfall charts.</p>
                </div>
                <div class="box">
                    <h3>Contract Performance Dashboard</h3>
                    <img src="img/SC Dashboard Sample.jpg" alt="">
                    <p>Complex dashboard tracking YTD vendor marketshare chart, showing current vendor marketshare, and pivot tables with the data.</p>
                </div>
            </section>
            <section class="boxes-2">
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.JPG" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>

            <% include partials/footer %>