<% include partials/header %>

    <!-- SHOWCASE -->
    <header id="showcase">
        <!--<h1>Todd Brannon</h1>
        <p>Creator. Innovator. Developer.</p>-->
        <img src="img/brannon_transparent_landing.png" alt="">
        <section class="buttons">
            <a href="/main" class="button">Enter</a>
            <!--<a href="#" class="button">Contact Me</a>-->
        </section>
    </header>
    <!--<section id="section-a">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, repudiandae, asperiores illum ullam odio eum autem maiores quae repellendus et doloribus totam reiciendis, atque hic molestiae dicta. Deserunt temporibus mollitia quis quae, facilis
            consequuntur quasi pariatur illum iste, fuga vitae nobis magni, molestiae itaque repellat tenetur voluptatem. Voluptate quod mollitia, eaque in dignissimos quos, magni voluptatum perspiciatis voluptas quia commodi ipsa quisquam voluptatibus,
            fugit vel laborum! Amet accusamus aspernatur repudiandae quam consectetur, in eveniet maxime. Maiores corrupti minus fugiat impedit nisi, aspernatur explicabo eius est, ratione dolorem sunt qui. Quasi atque molestias nemo hic blanditiis cumque
            illo iure perferendis voluptates.</p>
    </section>
    <section id="section-b">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, repudiandae, asperiores illum ullam odio eum autem maiores quae repellendus et doloribus totam reiciendis, atque hic molestiae dicta. Deserunt temporibus mollitia quis quae, facilis
            consequuntur quasi pariatur illum iste, fuga vitae nobis magni, molestiae itaque repellat tenetur voluptatem. Voluptate quod mollitia, eaque in dignissimos quos, magni voluptatum perspiciatis voluptas quia commodi ipsa quisquam voluptatibus,
            fugit vel laborum! Amet accusamus aspernatur repudiandae quam consectetur, in eveniet maxime. Maiores corrupti minus fugiat impedit nisi, aspernatur explicabo eius est, ratione dolorem sunt qui. Quasi atque molestias nemo hic blanditiis cumque
            illo iure perferendis voluptates.</p>
    </section>
    <section id="section-c">
        <div class="box-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, suscipit? Rerum eius at facilis laboriosam, dolore numquam dicta voluptas esse doloribus blanditiis, id suscipit, fugiat aut aspernatur amet quis maiores.</div>
        <div class="box-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem ipsa quas dolorem officiis quis sequi necessitatibus unde consectetur nisi, et distinctio in deleniti delectus aspernatur facilis tenetur, quasi incidunt totam.</div>
        <div class="box-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores beatae ab voluptatem quia doloribus et, asperiores aliquid vero doloremque omnis suscipit error perferendis rem, possimus facilis harum accusantium voluptatibus ducimus.</div>
    </section>-->