<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <img class="logo" src="img/brannon_transparent_landing.png" alt="">
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="boxes">
                <div class="box">
                    <a href="/webdev"><i class="fas fa-globe fa-4x"></i></a>
                    <h3>Web</h3>
                    <p>HTML. CSS. JavaScript. Node. Express. React. MongoDB. MySQL.</p>
                </div>
                <div class="box">
                    <a href="/excel"><i class="fas fa-file-excel fa-4x"></i></a>
                    <h3>Excel</h3>
                    <p>Formulas. Pivot Tables. Dashboards. VBA & Macros.</p>
                </div>
                <div class="box">
                    <i class="fas fa-database fa-4x"></i>
                    <h3>Access</h3>
                    <p>Tables. Queries. Forms. Reports. VBA & Macros.</p>
                </div>
                <div class="box">
                    <a href="http://linkedin.com/in/toddqbrannon" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
                    <a href="http://twitter.com/@CowtownTodd" target="_blank"><i class="fab fa-twitter-square fa-4x"></i></a>
                    <h3>Social</h3>
                    <p>Connect with me on LinkeIn and follow me on Twitter.</p>
                </div>
            </section>

            <% include partials/footer %>