<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>Welcome</h1>
                    <img src="img/brannon_transparent_landing.png" alt="">
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="boxes">
                <div class="box">
                    <i class="fas fa-chart-pie fa-4x"></i>
                    <h3>Excel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, vel.</p>
                </div>
                <div class="box">
                    <i class="fas fa-globe fa-4x"></i>
                    <h3>Access</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, vel.</p>
                </div>
                <div class="box">
                    <i class="fas fa-cog fa-4x"></i>
                    <h3>Web</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, vel.</p>
                </div>
                <div class="box">
                    <a href="http://linkedin.com/in/toddqbrannon" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
                    <a href="http://twitter.com/@CowtownTodd" target="_blank"><i class="fab fa-twitter-square fa-4x"></i></a>
                    <h3>Social</h3>
                    <p>Connect with me on LinkeIn and follow me on Twitter.</p>
                </div>
            </section>

            <% include partials/footer %>