<% include partials/header %>
    <div class="main">
        <div class="wrapper">
            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>



            <!-- Portfolio Section -->

            <section class="portfolio">

                <img src="img/DASH BIG IMAGE.jpg" alt="">
                <div>
                    <h2>Finance Dashboard</h2>
                    <p>Finance dashboard including overlapping column charts with inset data tables utilizing conditional formatting. Meter chart for 'Loan to Value' kpi. Waterfall charts to represent net working capital, profit & loss, and loan collateral.
                    </p>

                    <div class="buttons">
                        <a href="https://youtu.be/oxdpURPuiUA" class="button">More</a>
                    </div>

                </div>

            </section>
            <section class="portfolio">
                <img src="img/SC Dashboard Sample.jpg" alt="">
                <div>
                    <h2>Contract Performance Dashboard</h2>
                    <p>Supply chain dashboard including pivot tables and charts showing YTD aggregate vendor marketshare (line chart), current aggregate vendor marketshare (pie chart, as well as facility level vendor marketshare (column chart).
                    </p><br>
                    <p>Buttons are also included linking to other worksheets for enhanced user exprerience.</p>
                    <div class="buttons">
                        <a href="#" class="button">More</a>
                    </div>
                </div>
            </section>
            <section class="portfolio">
                <img src="img/MonthlySavingsUpdateToolImage.jpg" alt="">
                <div>
                    <h2>Database Management System</h2>
                    <p>Supply chain dashboard including pivot tables and charts showing YTD aggregate vendor marketshare (line chart), current aggregate vendor marketshare (pie chart, as well as facility level vendor marketshare (column chart).
                    </p><br>
                    <p>Buttons are also included linking to other worksheets for enhanced user exprerience.</p>
                    <div class="buttons">
                        <a href="#" class="button">More</a>
                    </div>
                </div>
            </section>
            <section class="portfolio">
                <img src="img/WPI Main.jpg" alt="">
                <div>
                    <h2>Database Management System</h2>
                    <p>Supply chain dashboard including pivot tables and charts showing YTD aggregate vendor marketshare (line chart), current aggregate vendor marketshare (pie chart, as well as facility level vendor marketshare (column chart).
                    </p><br>
                    <p>Buttons are also included linking to other worksheets for enhanced user exprerience.</p>
                    <div class="buttons">
                        <a href="#" class="button">More</a>
                    </div>
                </div>
            </section>
            <section class="portfolio">
                <img src="img/Customer Database.png" alt="">
                <div>
                    <h2>Database Management System</h2>
                    <p>Supply chain dashboard including pivot tables and charts showing YTD aggregate vendor marketshare (line chart), current aggregate vendor marketshare (pie chart, as well as facility level vendor marketshare (column chart).
                    </p><br>
                    <p>Buttons are also included linking to other worksheets for enhanced user exprerience.</p>
                    <div class="buttons">
                        <a href="#" class="button">More</a>
                    </div>
                </div>
            </section>

            <% include partials/footer %>