<% include partials/header %>
    <div class="main">
        <div class="wrapper">

            <!-- Navigation -->
            <nav class="main-nav">
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>Web Development</h1>
                    <ul>
                        <li><i class="fab fa-html5 fa-4x"></i></li>
                        <li><i class="fab fa-css3-alt fa-4x"></i></li>
                        <li><i class="fab fa-js fa-4x"></i></li>
                        <li><i class="fab fa-node fa-4x"></i></li>
                        <li><i class="fab fa-react fa-4x"></i></li>
                    </ul>
                    <div class="lead">
                        <p>Full-stack web development. HTML, CSS, JS, and React on the front end. Node, Express, MongoDB, MySQL on the backend.</p>
                    </div>
                </header>
            </section>


            <!-- Boxes Section -->
            <section class="boxes-1">
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.jpg" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.jpg" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>
            <section class="boxes-2">
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.jpg" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
                <div class="box">
                    <h3>Old Todd Brannon Site</h3>
                    <img src="img/OldToddBrannonSite1.jpg" alt="">
                    <p>My first web development deployment dating back to 2015.</p>
                </div>
            </section>

            <% include partials/footer %>